
@{
    ViewBag.title = "Home | Index";
    //Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 >Home Page  | Index</h1>

@section Styles {
    <style>
    h1 {
        color: green;
    }
    </style>
   
}

@section Scripts{
    <script>
        alert("Hello, Welcome");
    </script>
} 